@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --surface-a:#1e1e1e;
    --surface-b:#121212;
    --surface-c:rgba(255, 255, 255, 0.03);
    --surface-d:#383838;
    --surface-e:#1e1e1e;
    --surface-f:#1e1e1e;
    --text-hover: white;
    --text-color:rgb(0, 0, 0);
    --text-color-secondary:rgb(0, 0, 0);
    --primary-color:#177aca;
    --primary-color-text:#000000;
    --surface-0: #121212;
    --surface-50: #2a2a2a;
    --surface-100: #414141;
    --surface-200: #595959;
    --surface-300: #717171;
    --surface-400: #898989;
    --surface-500: #a0a0a0;
    --surface-600: #b8b8b8;
    --surface-700: #d0d0d0;
    --surface-800: #e7e7e7;
    --surface-900: #000000;
    --gray-50:#e7e7e7;
    --gray-100: #d0d0d0;
    --gray-200: #b8b8b8;
    --gray-300: #a0a0a0;
    --gray-400: #898989;
    --gray-500: #717171;
    --gray-600: #595959;
    --gray-700: #414141;
    --gray-800: #2a2a2a;
    --gray-900: #121212;
    --content-padding:1rem;
    --inline-spacing:0.5rem;
    --border-radius:3px;
    --surface-ground:#f1f2f5;
    --surface-section:#121212;
    --surface-card:#ffffff;
    --surface-overlay:#ffffff;
    --surface-border:#383838;
    --surface-hover:#177aca;
    --focus-ring: 0 0 0 1px #93cbf9;
    --maskbg: rgba(0, 0, 0, 0.4);
    --highlight-bg: rgba(100, 181, 246, 0.16);
    --highlight-text-color: rgba(255, 255, 255, 0.87);
    color-scheme: dark;
  }
  
  ::-webkit-scrollbar{
    display: none;
  }
  